.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.title { font-size: 30px; font-weight: bold; }

.card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.inp {
  width: 100%;
  padding: 10px;
  margin: 7px 0;
  border: 1px solid #aaa;
  border-radius: 7px;
}

.btn {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
}

.btn-edit {
  background: orange;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.btn-delete {
  background: red;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
}

.tabla th, .tabla td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}