<div class="container">
  <h2>Add Restaurant</h2>

  <div class="photo-box">
    <div class="upload-area">
      + Add Photo
    </div>
    <button class="btn-secondary">+ Restaurant Image</button>
    <button class="btn-danger">Remove</button>
  </div>

  <form>

    <label>Restaurant Name</label>
    <input type="text" class="input" placeholder="Sun valley restaurant">

    <label>Representative Name</label>
    <input type="text" class="input" placeholder="Darrel Steward">

    <label>Phone Number</label>
    <input type="text" class="input" placeholder="+233 01234567823">

    <label>Business License</label>
    <div class="file-row">
      <input type="file">
      <button class="btn-primary">Choose file</button>
    </div>

    <label>Owner NID</label>
    <div class="file-row">
      <input type="email" class="input" placeholder="yourmail@mail.com">
      <button class="btn-primary">Choose file</button>
    </div>

    <div class="row">
      <div class="col">
        <label>Established</label>
        <input type="date" class="input">
      </div>

      <div class="col">
        <label>Working Period</label>
        <select class="input">
          <option>09:00 AM - 10:00 PM</option>
        </select>
      </div>

      <div class="col">
        <label>Large</label>
        <select class="input">
          <option>Cash in hand</option>
        </select>
      </div>
    </div>

    <label>Location</label>
    <input type="text" class="input" placeholder="6, P. O., Asafoatse Nettey Road, Accra..">

    <button type="submit" class="btn-submit">Add Restaurant</button>

  </form>
</div>
