.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.page-header h1 {
  font-size: 26px;
  font-weight: 600;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 200px;
}

.btn {
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 14px;
}

.btn-light {
  background: #f3f4f6;
}

.btn-primary {
  background: #4f46e5;
  color: white;
}

.table-wrapper {
  margin-top: 20px;
  background: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.08);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead tr {
  background: #fafafa;
}

th, td {
  padding: 12px;
  text-align: left;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

.status {
  padding: 4px 12px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  text-transform: capitalize;
}

.in {
  background: #10b981; /* verde entrada */
}

.out {
  background: #ef4444; /* rojo salida */
}


/* Formulario */
.form-card {
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.09);
  margin-bottom: 20px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

.form-row {
  display: flex;
  flex-direction: column;
}

.form-row label {
  font-size: 13px;
  margin-bottom: 5px;
}

.form-row input, .form-row select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}