@import "tailwindcss";

@theme {
  /* ========== NEUTRAL ========== */
  --color-white: #FFFFFF;
  --color-neutral-50: #FCFCFC;
  --color-neutral-100: #F4F4F4;
  --color-neutral-200: #EFEFEF;
  --color-neutral-500: #6F767E;
  --color-neutral-700: #33383F;
  --color-neutral-800: #272B30;
  --color-neutral-900: #1A1D1F;
  --color-neutral-950: #111315;

  /* ========== SHADES  ========== */
  --color-shade-light: #9A9FA5;  
  --color-shade-mid: #6F767E;   
  --color-shade-dark: #33383F;   
  --color-shade-darker: #15181A; 
  --color-shade-gray: #3C4145;  

  /* ========== COLORS ========== */
  --color-primary: #2A85FF;      
  --color-success: #83BF6E;    
  --color-error: #FF6A55;
  --color-purple: #8E59FF;

  /* ========== SECONDARY  ========== */
  --color-secondary-orange: #FFBC99;
  --color-secondary-purple: #CABDFF;
  --color-secondary-blue: #B1E5FC;
  --color-secondary-green: #B5E4CA;
  --color-secondary-yellow: #FFD88D;
}


@font-face {
  font-family: 'Inter';
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("/fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("/fonts/Extra-Bold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Inter', sans-serif;
}